{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1 class="text-center my-4"><a href="/">GetShourl</a></h1>
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card card-body" id="main-wrapper">
                <h2 class="text-center mb-3">Shorten Any URL</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-lg-8">
                            <input type="text" name="redirect_url" class="form-control" placeholder="Enter Your Link Here" required>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-primary" type="submit">Shorten URl</button>
                        </div>
                    </div>
                </form>
                
                <p class="text-center mt-2 mb-0">GetShourl is a free tool to shorten a URL or reduce a link. <br>
                Use our URL Shortener to create a shortened link making it easy to remember.</p>
            </div>

            <div class="d-none" id="response-wrapper"></div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $("form").submit(e => {
            e.preventDefault();
            $("button").attr('disabled', true);
            $.post('/', $("form").serialize(), response => {
                $("#main-wrapper").detach();
                $("#response-wrapper").removeClass('d-none')
                $("#response-wrapper").html(`
                    <div class="card card-body">
                        <h2>Your shortened URL</h2>
                        <p>Copy the shortened link and share it in messages, texts, posts, websites and other locations.</p>
                        <div class="form-row">
                            <div class="col-lg-8">
                                <input type="text" name="result" class="form-control" value="${response.url}">
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-primary">Copy URL</button>
                            </div>
                        </div>
                        <p class="mt-1">Original Url: <a href="${response.original_url}" target="_blank">${response.original_url}</a></p>
                        <p class="m-0">Track <a href="/${response.url}/total-clicks/" target="_blank">the total of clicks</a> in real-time from your shortened URL.</p>
                        <p class="m-0">Create Another <a href="/" target="_blank">Shortened URL</a>.</p>
                    </div>
                `)
            })
        })
    </script>
{% endblock %}