<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title>Shortme</title>
        <style>
            body {
                background-color: #f9f9f9;
            }

            h1, h2 {
                font-weight: bold;
            }

            h1 a {
                text-decoration: none !important;
                color: black;
            }
            h1 a:hover, h1 a:active {
                text-decoration: none !important;
                color: black;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center my-4"><a href="/">Shortme</a></h1>
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card card-body" id="main-wrapper">
                        <h2 class="text-center mb-3">Shorten Any URL</h2>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-lg-8">
                                    <input type="text" name="redirect_url" class="form-control" placeholder="Enter Your Link Here" required>
                                </div>
                                <div class="col-lg-4">
                                    <button class="btn btn-primary" type="submit">Shorten URl</button>
                                </div>
                            </div>
                        </form>
                        
                        <p class="text-center mt-2 mb-0">Shortme is a free tool to shorten a URL or reduce a link. <br>
                        Use our URL Shortener to create a shortened link making it easy to remember.</p>
                    </div>

                    <div class="d-none" id="response-wrapper"></div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script>
            $("form").submit(e => {
                e.preventDefault();
                $("button").attr('disabled', true);
                $.post('/', $("form").serialize(), response => {
                    $("#main-wrapper").detach();
                    $("#response-wrapper").removeClass('d-none')
                    $("#response-wrapper").html(`
                        <div class="card card-body">
                            <h2>Your shortened URL</h2>
                            <p>Copy the shortened link and share it in messages, texts, posts, websites and other locations.</p>
                            <div class="form-row">
                                <div class="col-lg-8">
                                    <input type="text" name="result" class="form-control" value="${response.url}">
                                </div>
                                <div class="col-lg-4">
                                    <button class="btn btn-primary">Copy URL</button>
                                </div>
                            </div>
                            <p>Original Url: <a href="${response.original_url}">${response.original_url}</a></p>
                            <br>
                            <p>Track <a href="#">the total of clicks</a> in real-time from your shortened URL.</p>
                            <p>Create Another <a href="/">shortened Url</a>.</p>
                        </div>
                    `)
                })
            })
        </script>
    </body>
</html>